{% extends "layout.html" %}

{% block content %}
<main id="main">
<div class="container-fluid">
  <section class="row container-fluid">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod ac lorem cursus feugiat. In eros diam, malesuada vitae libero id, scelerisque euismod risus. Quisque dictum tellus lorem, at mattis ante laoreet sed. Aenean mollis arcu id feugiat pellentesque. Maecenas purus massa, mattis a gravida sit amet, ullamcorper nec risus. Donec faucibus nunc dictum lectus lacinia dictum. Nullam facilisis ultricies sem eget eleifend. Etiam iaculis dapibus felis quis mollis. Etiam in euismod tortor. In placerat hendrerit erat elementum commodo. Maecenas venenatis nunc ipsum, non pharetra magna ultrices id.</p>
  </section>
  <div class="container-fluid">
  <ul class="nav row nav-pills nav-justified">
    <li role="presentation" class="nav-item active">
      <a href="#comedian" class="nav-link active" role="tab" data-toggle="pill">Comedian</a>
    </li>
    <li role="presentation" class="nav-item">
      <a href="#club" class="nav-link" role="tab" data-toggle="pill">Club</a>
    </li>
    <li role="presentation" class="nav-item">
      <a href="#day" class="nav-link" role="tab" data-toggle="pill">Day</a>
    </li>
  </ul>
    
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="comedian">
        
        <div class="row container-fluid">
          <div class="col-md-2">
              <ul class="nav nav-pills nav-stacked">
                <li class="active"><a data-toggle="pill" href="#name1">Name 1</a></li>
                <li><a data-toggle="pill" href="#name2">Name 2</a></li>
                <li><a data-toggle="pill" href="#name3">Name 3</a></li>
              </ul>
          </div>
          <div class="col-md-10 container-fluid">
              <div class="tab-content">
                <div id="name1" class="tab-pane fade in active">
                  <p>Some content.</p>
                </div>
                <div id="name2" class="tab-pane fade">
                  <p>Some content in name 2.</p>
                </div>
                <div id="name3" class="tab-pane fade">
                  <p>Some content in name 3.</p>
                </div>
              </div>
            </div>
        </div>
      
      </div>
      <div role="tabpanel" class="tab-pane fade" id="club">

         <div class="row container-fluid">
          <div class="col-sm-1">
              <ul class="nav nav-pills nav-stacked">
                <li class="active"><a data-toggle="pill" href="#place1">place 1</a></li>
                <li><a data-toggle="pill" href="#place2">place 2</a></li>
                <li><a data-toggle="pill" href="#place3">place 3</a></li>
              </ul>
          </div>
          <div class="col-sm-11 container-fluid">
              <div class="tab-content">
                <div id="place1" class="tab-pane fade in active">
                  <p>Some PLACE content.</p>
                </div>
                <div id="place2" class="tab-pane fade">
                  <p>Some PLACE content in name 2.</p>
                </div>
                <div id="place3" class="tab-pane fade">
                  <p>Some PLACE content in name 3.</p>
                </div>
              </div>
            </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="day">

         <div class="row container-fluid">
          <div class="col-md-2">
              <ul class="nav nav-pills nav-stacked">
                <li class="active"><a data-toggle="pill" href="#name1">Name 1</a></li>
                <li><a data-toggle="pill" href="#name2">Name 2</a></li>
                <li><a data-toggle="pill" href="#name3">Name 3</a></li>
              </ul>
          </div>
          <div class="col-md-10 container-fluid">
              <div class="tab-content">
                <div id="name1" class="tab-pane fade in active">
                  <p>Some content.</p>
                </div>
                <div id="name2" class="tab-pane fade">
                  <p>Some content in name 2.</p>
                </div>
                <div id="name3" class="tab-pane fade">
                  <p>Some content in name 3.</p>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>
<!--
  <section>
  	{% for shows in shows %}
        <p> {{shows.location}}</p>
        <p> {{shows.comedian}}</p>
        <p> {{shows.description}}</p>
        {% endfor %}
      <p>Test</p>
  </section>
-->
</div>
</main>
{% endblock %}
