{% extends "layout.html" %}

{% block content %}
<main id="main">
  <section class="row container-fluid">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod ac lorem cursus feugiat. In eros diam, malesuada vitae libero id, scelerisque euismod risus. Quisque dictum tellus lorem, at mattis ante laoreet sed. Aenean mollis arcu id feugiat pellentesque. Maecenas purus massa, mattis a gravida sit amet, ullamcorper nec risus. Donec faucibus nunc dictum lectus lacinia dictum. Nullam facilisis ultricies sem eget eleifend. Etiam iaculis dapibus felis quis mollis. Etiam in euismod tortor. In placerat hendrerit erat elementum commodo. Maecenas venenatis nunc ipsum, non pharetra magna ultrices id.</p>
    
  </section>
  </main>
{% endblock %}
